<footer>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-xs-4">
                Heroic Pasting for real Heroes!
            </div>
            <div class="col-xs-8">
                Built using <a href="http://chicagoboss.org">ChicagoBoss</a>, <a href="http://www.erlang.org/">Erlang</a>, Syntax Highlighting by <a href="http://highlightjs.org/">highlight.js</a>. Also <a href="http://getbootstrap.com/">Bootstrap</a>.
            </div>
        </div>
    </div>
</footer>
