{% extends "shared/base.html" %}
{% block title %}heroicpastie - view{% endblock %}

{% block body %}
{% if foundpastie %}
    <div class="col-md-12">
        <h1>Display Pastie with ID: {{foundpastie.id}} <small>Language: {{foundpastie.language}}</small></h1>
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a class="list-group-item" href='/{{foundpastie.get_pure_id}}/raw'>Get Raw</a>
                    <a class="list-group-item" href='/{{foundpastie.get_pure_id}}/download'>Download</a>
                    <a class="list-group-item" href='/{{foundpastie.get_pure_id}}/delete'>Delete</a>
                </div>
            </div>
            <div class="col-md-10">
                
                <div class="table-responsive"><pre>
                    <table>
                        <tbody>
                            <tr>
                                <td id="linenumbers">
                                 {% for line in foundpastie.get_paste_as_array %}<p class="line">{{forloop.counter}}<p>{% endfor %}
                                </td>
                                <td id="codelines">                                    
<code class="{{foundpastie.language|lower}}">{% for line in foundpastie.get_paste_as_array %}<p class="line" id="line-{{forloop.counter}}">{{line}}</p>{% endfor %}</code>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </pre></div>
            </div>
        </div>
    </div>
{% else %}
<div class="col-md-12">
    <h1>No Pastie with ID: {{pastieid}}</h1>
</div>
{% endif %}
{% endblock %}
